{
	"presets": [
		[
		"next/babel",
			{
				// When true, class properties are compiled to use an assignment expression instead of Object.defineProperty.
				"class-properties": {
					"loose": true
				}
			}
		]
	],
	"plugins": [
		"babel-plugin-macros", 
		["babel-plugin-styled-components", { "ssr": true }],
		["@babel/plugin-proposal-private-methods", { "loose": true }],
		["@babel/plugin-proposal-private-property-in-object", { "loose": true }]
	]
}
